KOMODO_HOST=https://komodo.ragnaforge.xyz
KOMODO_TITLE=Ragnaforge
KOMODO_DATABASE_DB_NAME=komodo
KOMODO_LOCAL_AUTH=true
KOMODO_DISABLE_USER_REGISTRATION=true
KOMODO_ENABLE_NEW_USERS=false
KOMODO_RESOURCE_POLL_INTERVAL=5-min
